<!DOCTYPE html>

<head>
    <!-- {% load static %} -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"> -->
    <link rel="stylesheet" type="text/css" href=static 'bootstrap/css/bootstrap.css'}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/v4-shims.js"></script>
    <title>HỆ THỐNG ĐIỀU KHIỂN VÀ GIÁM SÁT MÔI TRƯỜNG</title>

    <!-- <script type="text/javascript" src="./js/js.js"></script> -->
</head>