/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
*/
@media (max-width: 575.98px) {
    body {
        font-size: 2vw;
    }

    h4 {
        font-size: 3vw;
    }

    .info.col-sm-10 {
        width: 70%;
    }

    .card-text.float-end {
        font-size: 4vw !important;
    }

    .sidenav {
        padding-top: 10vw;
        margin-left: auto;
    }

    .sidenav p {
        font-size: 2vw;
    }


    .nav-header {
        font-size: 2vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menu.col-sm-2 {
        width: 3vw;
        border-style: outset;
        height: 100%;
    }

    #pump-img {
        margin-top: 2vw;
        margin-left: 20vw;
    }

    #pump-img {
        display: block;
        max-width: 200vw;
        max-height: 40vw;
        width: auto;
        height: auto;
        margin-top: 2vw;
        margin-left: 2vw;
    }

    .row.row-cols-3.control-task {
        border-style: groove;
        background-color: #999595;
        margin-left: 6vw;
        width: 87%;
        width: 100%;
    }

    .control-pump.col-sm-10 {
        width: 80%;
    }

    #col-control-pump-board {
        margin-top: 0px;
        height: 25vw;
        align-items: center;
    }

    .option.control.board.col-sm-2 {
        width: auto;
    }

    .row.row-cols-sm-3.control-task {
        width: 100%;
    }

    .row.row-cols-1.img {
        margin-top: 0vw;
        margin-bottom: 0vw;
        width: 100%;
        height: 30%;
        margin-left: 1vw;

    }

    .card.pump.on.off,
    .card.ps.on.off,
    .card.ng.on.off {
        width: 30%;
        margin-left: 3%;
    }

}

/*Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {}

/*Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {}

/*Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {
    .nav-header {
        font-size: 2vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .col-sm-2.nutri.and.time {
        width: 30%;
        margin-top: 0%;
    }
}